{
  "openapi": "3.0.3",
  "info": {
    "title": "Trinary Exchange API",
    "version": "1.0.0",
    "description": "Public API for Trinary Exchange - the market data and enrichment layer for the EVE Frontier economy.\n\nThis API exposes four data domains:\n\n- **Trading data**: order books, trades, price history, and market activity across Trinary Exchange trade hubs.\n- **Keyspace enrichment**: decoded and contextualized on-chain state from the EVE Frontier world contracts.\n- **Organization data**: Armature organizations, including governance structure, treasuries, and organizational units.\n- **Frontier enrichment**: general reference data for EVE Frontier entities such as items, systems, and structures.\n\nAll requests are served through an authenticated gateway. Authenticate with the `x-api-key` header. Each operation's `x-cu-cost` is the Compute-Unit charge deducted per call.",
    "x-generated-at": "2026-08-26T03:04:25.435Z"
  },
  "servers": [
    {
      "url": "https://api.trinary.exchange"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/assemblies/enriched": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nResolves assembly object IDs to their owner wallet address and character name via on-chain lookup. Results are cached for 5 minutes. Pass a comma-separated list of Sui object IDs (max 200).",
        "operationId": "batchGetAssemblies",
        "parameters": [
          {
            "name": "ids",
            "required": true,
            "in": "query",
            "description": "Comma-separated Sui object IDs (max 200)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssemblyEnrichedResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get enriched assembly data (owner + character name) for a list of object IDs",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/assemblies/owners": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nResolves assembly object IDs to their owner wallet addresses via on-chain lookup. Results are cached for 5 minutes. Pass a comma-separated list of Sui object IDs (max 200).",
        "operationId": "batchGetAssemblyOwners",
        "parameters": [
          {
            "name": "ids",
            "required": true,
            "in": "query",
            "description": "Comma-separated Sui object IDs (max 200)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssemblyOwnerResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get owner wallet addresses for a list of assembly object IDs",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/balance-managers/owners": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nResolves balance manager object IDs to their owner, tagged by owner type: `player:<wallet_address>` for a character-owned balance manager, or `ou:<org_id>` for an organization-owned one. `owner_name` is the matching character or organization's display name, or null if unresolved. `root_ou_id` is set when the owning organization is a sub-organization, pointing to its top-level organization. Results are cached for 5 minutes. Pass a comma-separated list of Sui object IDs (max 200).",
        "operationId": "batchGetBalanceManagerOwners",
        "parameters": [
          {
            "name": "ids",
            "required": true,
            "in": "query",
            "description": "Comma-separated Sui object IDs (max 200)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceManagerOwner"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get owner info for balance manager IDs",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/balance-managers/{balance_manager_id}/fills": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns the individual fills (order executions) a balance manager participated in, newest first, from that account’s perspective. Use `before` (epoch milliseconds) to page backward — pass the previous response’s `next_cursor` as `before`. Use `after` to poll for fills executed since a given time. Filter with `pool_id` and `side` (role in the fill).",
        "operationId": "listAccountFills",
        "parameters": [
          {
            "name": "balance_manager_id",
            "required": true,
            "in": "path",
            "description": "Balance manager object ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "required": false,
            "in": "query",
            "description": "Only return entries strictly older than this Unix-epoch-millisecond timestamp.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "name": "after",
            "required": false,
            "in": "query",
            "description": "Only return entries strictly newer than this Unix-epoch-millisecond timestamp.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum number of results to return (1–100).",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer"
            }
          },
          {
            "name": "pool_id",
            "required": false,
            "in": "query",
            "description": "Only return fills from this pool (order book).",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          },
          {
            "name": "side",
            "required": false,
            "in": "query",
            "description": "Filter by the account's role in the fill.",
            "schema": {
              "default": "all",
              "type": "string",
              "enum": [
                "maker",
                "taker",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FillPage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List a balance manager's fills",
        "tags": [
          "Marketplace | Accounts"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/balance-managers/{balance_manager_id}/open-orders": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns the orders a balance manager currently has resting on item-market order books, newest activity first. Use `before` (epoch milliseconds) to page backward through older orders — pass the previous response’s `next_cursor` as `before`. Use `after` to fetch only orders updated since a given time.",
        "operationId": "listAccountOpenOrders",
        "parameters": [
          {
            "name": "balance_manager_id",
            "required": true,
            "in": "path",
            "description": "Balance manager object ID.",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          },
          {
            "name": "before",
            "required": false,
            "in": "query",
            "description": "Only return entries strictly older than this Unix-epoch-millisecond timestamp.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "name": "after",
            "required": false,
            "in": "query",
            "description": "Only return entries strictly newer than this Unix-epoch-millisecond timestamp.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum number of results to return (1–100).",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemOpenOrderPage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List a balance manager's open orders",
        "tags": [
          "Marketplace | Accounts"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/balance-managers/{balance_manager_id}/sweepable": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns everything a \"sweep all to hangar\" operation would move for this balance manager: per-pool settled (claimable) and owed balances with open-order counts, plus idle item balances already held by the account. Each entry carries the trade-hub storage unit and vault configuration needed to build the withdrawal transaction. `as_of_checkpoint` indicates how current the snapshot is.",
        "operationId": "listAccountSweepable",
        "parameters": [
          {
            "name": "balance_manager_id",
            "required": true,
            "in": "path",
            "description": "Balance manager object ID.",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sweepable"
                }
              }
            }
          }
        },
        "summary": "List a balance manager's sweepable balances and items",
        "tags": [
          "Marketplace | Accounts"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/balance-managers/{balance_manager_id}/trades": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns the trades (fills) a balance manager participated in, newest first, from that account’s perspective. Use `before` (epoch milliseconds) to page backward — pass the previous response’s `next_cursor` as `before`. Use `after` to poll for trades executed since a given time. Filter with `side` (role in the trade) and `asset_id` (item type).",
        "operationId": "listAccountTrades",
        "parameters": [
          {
            "name": "balance_manager_id",
            "required": true,
            "in": "path",
            "description": "Balance manager object ID.",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          },
          {
            "name": "before",
            "required": false,
            "in": "query",
            "description": "Only return entries strictly older than this Unix-epoch-millisecond timestamp.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "name": "after",
            "required": false,
            "in": "query",
            "description": "Only return entries strictly newer than this Unix-epoch-millisecond timestamp.",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum number of results to return (1–100).",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer"
            }
          },
          {
            "name": "side",
            "required": false,
            "in": "query",
            "description": "Filter by the account's role in the trade.",
            "schema": {
              "default": "all",
              "type": "string",
              "enum": [
                "maker",
                "taker",
                "all"
              ]
            }
          },
          {
            "name": "asset_id",
            "required": false,
            "in": "query",
            "description": "Only return trades for this item type (numeric asset ID).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemAccountTradePage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List a balance manager's trade history",
        "tags": [
          "Marketplace | Accounts"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/characters/address/{address}": {
      "get": {
        "description": "**Cost:** 20 compute units per request.\n\nReturns every character associated with the given wallet address, newest first. Set `enrich=true` to also include the on-chain `owner_cap_id` and `assembly_id` fields.",
        "operationId": "getCharacterByAddress",
        "parameters": [
          {
            "name": "address",
            "required": true,
            "in": "path",
            "description": "Wallet address associated with the character.",
            "schema": {
              "example": "0x2a4b6e7c8d9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b",
              "type": "string"
            }
          },
          {
            "name": "enrich",
            "required": false,
            "in": "query",
            "description": "When true, include the on-chain `owner_cap_id` and `assembly_id` fields in each result.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CharacterResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List characters by wallet address",
        "tags": [
          "Identity | Characters"
        ],
        "x-cu-cost": 20
      }
    },
    "/v1/characters/batch": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nResolves up to 500 player wallet addresses to their characters in one request. Each result echoes the queried `address` so responses can be mapped back regardless of order; unresolved addresses return null character fields.",
        "operationId": "batchGetCharacters",
        "parameters": [
          {
            "name": "addresses",
            "required": true,
            "in": "query",
            "description": "Comma-separated list of player wallet addresses to resolve. At least 1 and at most 500 addresses per request.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CharacterBatchResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "`addresses` is missing, empty, or has more than 500 entries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Batch-resolve player addresses to characters",
        "tags": [
          "Identity | Characters"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/characters/name/{name}": {
      "get": {
        "description": "**Cost:** 20 compute units per request.\n\nReturns every character whose name exactly matches the given value, newest first.",
        "operationId": "getCharacterByName",
        "parameters": [
          {
            "name": "name",
            "required": true,
            "in": "path",
            "description": "Exact character name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CharacterResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List characters by exact name",
        "tags": [
          "Identity | Characters"
        ],
        "x-cu-cost": 20
      }
    },
    "/v1/characters/{object_id}": {
      "get": {
        "description": "**Cost:** 20 compute units per request.\n\nReturns the character with the given object ID. Set `enrich=true` to also include the on-chain `owner_cap_id` and `assembly_id` fields.",
        "operationId": "getCharacter",
        "parameters": [
          {
            "name": "object_id",
            "required": true,
            "in": "path",
            "description": "Object ID of the character.",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          },
          {
            "name": "enrich",
            "required": false,
            "in": "query",
            "description": "When true, include the on-chain `owner_cap_id` and `assembly_id` fields in each result.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No character exists with the given object ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get a character by object ID",
        "tags": [
          "Identity | Characters"
        ],
        "x-cu-cost": 20
      }
    },
    "/v1/coins": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nThe consolidated coin list, enumerated from the token registry so coins with no triex pool (e.g. CRED) still appear. Each coin merges registry identity, on-chain supply/contract facts (circulating supply is total minus known treasury holdings), and market data appended from the indexer's coin pools (null when the coin has no pool). Coins with a pool come first, ordered by activity. Pass `coin_types` to restrict the list to specific coins.",
        "operationId": "listCoins",
        "parameters": [
          {
            "name": "coin_types",
            "required": false,
            "in": "query",
            "description": "Optional comma-separated coin types to restrict the list to (max 200). Omit for the full registry list.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CoinResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed `coin_types` filter (e.g. more than 200 entries).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List coins with supply, contract, and market data",
        "tags": [
          "Marketplace | Coins"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/collections/{collection_id}/hub": {
      "get": {
        "description": "**Cost:** 20 compute units per request.\n\nReverse lookup: returns the trade hub (`hub_id`) that owns the given item collection. Each collection belongs to exactly one hub.",
        "operationId": "getCollectionHub",
        "parameters": [
          {
            "name": "collection_id",
            "required": true,
            "in": "path",
            "description": "Sui object ID of the item collection",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubSummary"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Find the trade hub that owns an item collection",
        "tags": [
          "Marketplace | Collections"
        ],
        "x-cu-cost": 20
      }
    },
    "/v1/discovery": {
      "get": {
        "description": "**Cost:** 150 compute units per request.\n\nLive open orders across trade hub markets, ordered by last activity (newest first). Orders on hubs that no longer exist are excluded. Each row carries the hub display name (`hub_name`) and power state (`hub_state`, online/offline), so callers need not resolve them separately. All filters compose freely: scope by trade hubs (`storage_unit_ids`), by item (`asset_id`), by owner (`balance_manager_id`), and by side. Private-shared hubs are resolved by the caller — pass the hub list you can see; omit it for all hubs, or set `public_only=true` to restrict to location-revealed (public) hubs. Pagination is a single self-contained `cursor` param: pass `next_cursor` to page backward or `prev_cursor` to poll for new activity. Cursors embed the original filters, so no other params are needed (and filters are ignored) on cursor requests.",
        "operationId": "getDiscovery",
        "parameters": [
          {
            "name": "storage_unit_ids",
            "required": false,
            "in": "query",
            "description": "Comma-separated trade hub IDs and/or item collection IDs (max 100). Omit for all trade hubs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "required": false,
            "in": "query",
            "description": "Numeric item type / asset id. Omit for all items.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "balance_manager_id",
            "required": false,
            "in": "query",
            "description": "Only orders owned by this balance manager (\"my orders\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "required": false,
            "in": "query",
            "description": "Filter by order side (default: both). `buy` = bids.",
            "schema": {
              "enum": [
                "buy",
                "sell",
                "both"
              ],
              "type": "string"
            }
          },
          {
            "name": "public_only",
            "required": false,
            "in": "query",
            "description": "Set `true` to restrict to location-revealed (public) assemblies. Omit for all visible hubs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "Opaque cursor from a previous response (`next_cursor` for the next page, `prev_cursor` to poll for new activity). Self-contained: it carries the original filters and limit, so other params are ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Rows per page (default and max 100).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryOrderPage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Unified open-orders discovery feed across trade hubs",
        "tags": [
          "Marketplace | Discovery"
        ],
        "x-cu-cost": 150
      }
    },
    "/v1/display-prices": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nNet-to-seller display prices from the `display_price` view. Pass `item_ids` alone for vault-independent item-tier prices (one per item). Pass `item_ids` + `storage_unit_ids` to run the full traded → item → book → unknown waterfall per (item, vault); a pair with no pool falls back to the vault-independent item-tier price (`tier: \"item\"` with a null `pool_id`) unless `fallback=false`, and comes back `tier: \"unknown\"` when the item has no price anywhere. `storage_unit_ids` may hold either trade hub ids or vault item collection ids.",
        "operationId": "listDisplayPrices",
        "parameters": [
          {
            "name": "item_ids",
            "required": true,
            "in": "query",
            "description": "Comma-separated numeric item (asset) IDs. Batch ceiling: at most 100 IDs per request — larger batches are rejected with 400.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storage_unit_ids",
            "required": false,
            "in": "query",
            "description": "Comma-separated trade hub / vault item collection ids. When present, must match the number of `item_ids` (paired by position) or be a single id (applied to every item).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fallback",
            "required": false,
            "in": "query",
            "description": "Pair mode only. Set to \"false\" to disable the item-tier price fallback for pairs with no pool at the requested vault (default: enabled). Ignored in item-only mode.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayPricesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing/non-numeric `item_ids`, more than 100 IDs, or mismatched `storage_unit_ids` length.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Batch display prices for items (optionally per vault)",
        "tags": [
          "Marketplace | Prices"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/display-prices/{item_id}": {
      "get": {
        "description": "**Cost:** 20 compute units per request.\n\nConvenience single-item form of `/display-prices`. With `storage_unit_id`, returns the per-vault waterfall price; without it, the vault-independent item-tier price.",
        "operationId": "getDisplayPrice",
        "parameters": [
          {
            "name": "item_id",
            "required": true,
            "in": "path",
            "description": "Numeric item (asset) id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storage_unit_id",
            "required": false,
            "in": "query",
            "description": "Trade hub / vault item collection id to price against.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fallback",
            "required": false,
            "in": "query",
            "description": "Pair mode only. Set to \"false\" to disable the item-tier price fallback when no pool exists at the vault (default: enabled). Ignored without `storage_unit_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayPricesResponse"
                }
              }
            }
          },
          "400": {
            "description": "`item_id` is not a numeric string.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Display price for a single item (optionally at a vault)",
        "tags": [
          "Marketplace | Prices"
        ],
        "x-cu-cost": 20
      }
    },
    "/v1/fills/{event_digest}": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns the raw record of a single fill event, with no account perspective applied: both maker and taker fees and balance managers are included. `asset_id` and `storage_unit_id` are `null` until the market’s metadata has been indexed. Responds 404 if the event digest is unknown.",
        "operationId": "getFill",
        "parameters": [
          {
            "name": "event_digest",
            "required": true,
            "in": "path",
            "description": "Fill event identifier: the transaction digest with the event index appended.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FillDetail"
                }
              }
            }
          },
          "404": {
            "description": "No fill with this event digest exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get one fill by event digest",
        "tags": [
          "Marketplace | Accounts"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/hubs/economics": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nReturns aggregated fee reserve (fees deposited minus fees withdrawn) and total open-order liquidity depth across all markets at each hub. Amounts are raw integers encoded as strings. Hubs that no longer exist are omitted from the result. Results are cached for 30 seconds. Maximum 200 IDs per request.",
        "operationId": "batchGetHubEconomics",
        "parameters": [
          {
            "name": "ids",
            "required": true,
            "in": "query",
            "description": "Comma-separated hub Sui object IDs (max 200)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HubEconomics"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get fee reserve and liquidity depth for a list of trade hubs",
        "tags": [
          "Marketplace | Hubs"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/hubs/enriched": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nReturns location, region, market count, and last storage activity for up to 200 trade hubs. Pass a comma-separated list of Sui object IDs via the ids query parameter.",
        "operationId": "batchGetHubs",
        "parameters": [
          {
            "name": "ids",
            "required": true,
            "in": "query",
            "description": "Comma-separated Sui object IDs (max 200)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HubEnrichedResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get enriched trade hub data for a list of object IDs",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/hubs/locations": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nReturns current locations for all indexed trade hubs, with location and visibility metadata. Optionally filter by solar_system or tenant. Paginated: pass back `next_cursor` as `cursor` to fetch the next page.",
        "operationId": "listHubLocations",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum number of results to return (1–100).",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "Opaque cursor from a previous response’s `next_cursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "solar_system",
            "required": false,
            "in": "query",
            "description": "Filter to hubs in a specific solar system ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tenant",
            "required": false,
            "in": "query",
            "description": "Filter to hubs owned by a specific tenant",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_vault",
            "required": false,
            "in": "query",
            "description": "When true, only return hubs that have trading initialised (a vault exists)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponsePage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List all known trade hub locations",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/hubs/nearby-by-system": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nSame as /hubs/{hub_id}/nearby but accepts a solar system ID or name directly. Useful when the requesting hub is private and has no published location.",
        "operationId": "listHubsNearSolarSystem",
        "parameters": [
          {
            "name": "system_id",
            "required": true,
            "in": "query",
            "description": "Solar system ID or name to search from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "required": false,
            "in": "query",
            "description": "Search radius in light years (default 3500, max 3500)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "type_id",
            "required": false,
            "in": "query",
            "description": "Filter to hubs with open orders for this item type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NearbyHubResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Find trade hubs near a given solar system",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/hubs/{hub_id}/dao-vaults": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns every active organization (DAO) receipt vault registered at the given trade hub, each with its current member set per role (`deposit` / `withdraw` / `edit`). Results are cached for 30 seconds.",
        "operationId": "listHubDaoVaults",
        "parameters": [
          {
            "name": "hub_id",
            "required": true,
            "in": "path",
            "description": "Sui object ID of the trade hub",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HubDaoVault"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List organization receipt vaults registered at a trade hub",
        "tags": [
          "Marketplace | Hubs"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/hubs/{hub_id}/items": {
      "get": {
        "description": "**Cost:** 20 compute units per request.\n\nReturns the item types (`asset_id`) that currently have open orders at the given trade hub, with flags indicating whether buy orders (bids) and/or sell orders (asks) exist. The full set is always returned in a single page — `next_cursor` is always `null`. Results are cached for 30 seconds.",
        "operationId": "listHubItems",
        "parameters": [
          {
            "name": "hub_id",
            "required": true,
            "in": "path",
            "description": "Sui object ID of the trade hub",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubItemPage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List item types with active orders at a trade hub",
        "tags": [
          "Marketplace | Hubs"
        ],
        "x-cu-cost": 20
      }
    },
    "/v1/hubs/{hub_id}/items/{asset_id}/orderbook": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nReturns the live order book for one item at a trade hub in a single request: resting bids and asks (bids highest-price-first, asks lowest-price-first), plus the resolved pool_id and pool metadata (asset names, decimals, taker fee) needed to price, size, and place orders against the book. Pass quote_type to prefer a market quoted in a specific currency. Responds 404 when the hub has no trading vault. When the hub trades but no market exists for this item yet, responds 200 with pool_id null and an empty book.",
        "operationId": "getHubItemOrderbook",
        "parameters": [
          {
            "name": "hub_id",
            "required": true,
            "in": "path",
            "description": "Trade hub (storage unit) object ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "required": true,
            "in": "path",
            "description": "Numeric item type ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote_type",
            "required": false,
            "in": "query",
            "description": "Quote asset type string; exact matches are preferred.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubItemOrderbookResponse"
                }
              }
            }
          }
        },
        "summary": "Get an item's order book at a trade hub",
        "tags": [
          "Marketplace | Pools"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/hubs/{hub_id}/location": {
      "get": {
        "description": "**Cost:** 20 compute units per request.\n\nReturns coordinates, tenant, and visibility metadata (is_public, region_id) for a single trade hub, identified by its Sui object ID.",
        "operationId": "getHubLocation",
        "parameters": [
          {
            "name": "hub_id",
            "required": true,
            "in": "path",
            "description": "Sui object ID of the trade hub (hex, e.g. 0x...)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get the current location of a trade hub",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 20
      }
    },
    "/v1/hubs/{hub_id}/nearby": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nReturns hubs within a light-year radius of the specified hub. Optionally filter to hubs that have open orders for a specific item type.",
        "operationId": "listHubsNearHub",
        "parameters": [
          {
            "name": "hub_id",
            "required": true,
            "in": "path",
            "description": "Sui object ID of the trade hub (hex, e.g. 0x...)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "required": false,
            "in": "query",
            "description": "Search radius in light years (default 3500, max 3500)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "type_id",
            "required": false,
            "in": "query",
            "description": "Filter to hubs with open orders for this item type (e.g. 70810)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NearbyHubResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Find trade hubs near a given hub",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/hubs/{hub_id}/vault": {
      "get": {
        "description": "**Cost:** 20 compute units per request.\n\nReturns the item collection (`collection_id`) backing the hub and the hub vault's configuration object (`vault_config_id`).",
        "operationId": "getHubVault",
        "parameters": [
          {
            "name": "hub_id",
            "required": true,
            "in": "path",
            "description": "Sui object ID of the trade hub",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubVaultInfo"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get vault configuration for a trade hub",
        "tags": [
          "Marketplace | Hubs"
        ],
        "x-cu-cost": 20
      }
    },
    "/v1/inventory/balances": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nAuthoritative current contents per storage, straight from the chain indexer — the spendable truth that overlay containers merely arrange. The whole read is scoped by `storage_unit_id`; the item collection is derived from it server-side. One call can read several storages at once: pass `owner_address` for the wallet warehouse, `balance_manager_id` for marketplace (balance manager) holdings, `vault_ids` for organization (DAO) receipt vaults, and/or `inventory_key` for the trade hub hangar (keyed by game `type_id`, not collection-scoped). Sections whose selector was not passed come back empty. All amounts are raw integers as decimal strings.",
        "operationId": "getInventoryBalances",
        "parameters": [
          {
            "name": "storage_unit_id",
            "required": true,
            "in": "query",
            "description": "Trade hub scoping the whole read. The item collection is derived from it server-side (each hub backs exactly one collection), so no collection id is passed. A hub with no known collection fails with `404 not_found`.",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          },
          {
            "name": "owner_address",
            "required": false,
            "in": "query",
            "description": "Holder wallet — returns warehouse balances.",
            "schema": {
              "example": "0x2a4b6e7c8d9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b",
              "type": "string"
            }
          },
          {
            "name": "balance_manager_id",
            "required": false,
            "in": "query",
            "description": "Balance manager — returns marketplace balances.",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          },
          {
            "name": "vault_ids",
            "required": false,
            "in": "query",
            "description": "Comma-separated organization (DAO) receipt vault ids — returns per-vault balances.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inventory_key",
            "required": false,
            "in": "query",
            "description": "Inventory field key (hub or character `owner_cap_id`) selecting which hangar — when passed, returns hangar contents (by type_id).",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryBalancesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed or failed-validation parameters (`invalid_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No item collection is known for `storage_unit_id` (`not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get authoritative inventory balances at a trade hub",
        "tags": [
          "Inventory"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/items/{item_id}/locations": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nReturns hub locations currently offering the given item for sale, identified by type_id. Paginated: pass back `next_cursor` as `cursor` to fetch the next page.",
        "operationId": "listItemLocations",
        "parameters": [
          {
            "name": "item_id",
            "required": true,
            "in": "path",
            "description": "The type_id of the tradeable item to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum number of results to return (1–100).",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "Opaque cursor from a previous response’s `next_cursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponsePage"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List locations that have a specific item for sale",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/orgs": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nSame as `GET /v1/orgs/{org_id}` but accepts up to 200 IDs at once via the `ids` query parameter. Returns one entry per requested ID, in request order; IDs that do not resolve return an entry with null fields and `metadata.error_reason = \"unresolved\"`. Results are cached per organization for 5 minutes.",
        "operationId": "batchGetOrgs",
        "parameters": [
          {
            "name": "ids",
            "required": true,
            "in": "query",
            "description": "Comma-separated organization object IDs (max 200).",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrgResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "`ids` is missing, empty, or has more than 200 entries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Batch-get organizations by ID",
        "tags": [
          "Identity | Organizations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/orgs/directory": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nReturns top-level organizations (never their internal units) for a \"discover organizations\" listing. Each entry carries a member count as a size hint plus an icon and description when the organization has configured them. Sorted by member count (largest first) by default; pass `sort=name` for alphabetical. Paginate with `limit` and the returned `next_cursor`.",
        "operationId": "listOrgDirectory",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum number of organizations to return (1–50).",
            "schema": {
              "minimum": 1,
              "maximum": 50,
              "default": 8,
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "in": "query",
            "description": "Opaque cursor from a previous response’s `next_cursor`. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Sort order: `members` (member count, largest first — the default) or `name` (alphabetical).",
            "schema": {
              "type": "string",
              "enum": [
                "members",
                "name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgDirectoryEntryPage"
                }
              }
            }
          },
          "400": {
            "description": "Invalid `limit`, `cursor`, or `sort` value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List organizations for the discovery directory",
        "tags": [
          "Identity | Organizations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/orgs/{org_id}": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nResolves an organization object ID to the full organization: name, metadata, treasury and related object IDs, current members, and the complete tree of child units (`ous`). The ID may be the top-level organization or any unit within its tree — the top-level organization is always returned. Results are cached for 5 minutes.",
        "operationId": "getOrg",
        "parameters": [
          {
            "name": "org_id",
            "required": true,
            "in": "path",
            "description": "Object ID of the organization — the root organization or any unit within its tree.",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No organization exists with the given ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get an organization and its full unit tree",
        "tags": [
          "Identity | Organizations"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/orgs/{org_id}/proposals": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns every governance proposal of the organization, newest first: identity, lifecycle status, vote tallies, and — for composite proposals — the ordered step list. Per-proposal governance configuration and snapshot weights are not included; read those from the live on-chain object when hydrating a single proposal.",
        "operationId": "listOrgProposals",
        "parameters": [
          {
            "name": "org_id",
            "required": true,
            "in": "path",
            "description": "Object ID of the organization.",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProposalResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List an organization's proposals",
        "tags": [
          "Identity | Proposals"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/players/{address}/accessible-keyspaces": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns every keyspace the address can reach: keyspaces registered by one of the player’s organizations (`created`), keyspaces granted directly to the player (`player_grant`), and keyspaces granted to one of the player’s organizations (`ou_grant`). The player’s organizations are resolved automatically, so only the address is required. Results are cached for 5 minutes.",
        "operationId": "listAccessibleKeyspaces",
        "parameters": [
          {
            "name": "address",
            "required": true,
            "in": "path",
            "description": "Player wallet address.",
            "schema": {
              "example": "0x2a4b6e7c8d9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b",
              "type": "string"
            }
          },
          {
            "name": "role",
            "required": false,
            "in": "query",
            "description": "Optional role filter (`grant`, `read`, or `write`). Narrows the grant-based matches; keyspaces the player’s organizations created are always included.",
            "schema": {
              "type": "string",
              "enum": [
                "grant",
                "read",
                "write"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessibleKeyspace"
                  }
                }
              }
            }
          },
          "400": {
            "description": "address param is missing, or role is not one of grant/read/write.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List the keyspaces a player can access",
        "tags": [
          "Access | Keyspaces"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/players/{address}/orgs": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns every organization the address is a current governance member of, each resolved to its full unit tree. One entry per distinct top-level organization — inspect each tree’s per-unit `members` to see exactly where the address sits. Results are cached for 5 minutes.",
        "operationId": "listPlayerOrgs",
        "parameters": [
          {
            "name": "address",
            "required": true,
            "in": "path",
            "description": "Player wallet address.",
            "schema": {
              "example": "0x2a4b6e7c8d9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrgResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "List the organizations a player belongs to",
        "tags": [
          "Identity | Organizations"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/pools/resolve": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nIndexed replacement for the client-side registry dynamic-field walk. Returns { pool_id } for the given collection_id + asset_id (optionally preferring an exact quote_type match), or { pool_id: null } if no pool has been created yet.",
        "operationId": "resolvePool",
        "parameters": [
          {
            "name": "collection_id",
            "required": true,
            "in": "query",
            "description": "MultiCoin vault collection ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset_id",
            "required": true,
            "in": "query",
            "description": "Numeric item type ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote_type",
            "required": false,
            "in": "query",
            "description": "Quote asset type string; exact matches are preferred.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoolResolveResponseDto"
                }
              }
            }
          }
        },
        "summary": "Resolve a MultiCoin pool ID by (collection, asset, quote)",
        "tags": [
          "Marketplace | Pools"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/pools/top-by-fees": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nReturns pools and multicoin pools ranked by unclaimed fee balance (total deposited minus total withdrawn), descending. Only pools with a positive unclaimed balance are included.",
        "operationId": "listTopPoolsByFees",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Max number of results to return (default 20, max 100)",
            "schema": {
              "default": 20,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PoolFeeResponseDto"
                  }
                }
              }
            }
          }
        },
        "summary": "Get pools with the most fees available to claim",
        "tags": [
          "Marketplace | Pools"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/pools/{pool_id}/metadata": {
      "get": {
        "description": "**Cost:** 20 compute units per request.\n\nReturns enriched metadata for a pool including asset names, symbols, decimals, and the associated storage unit ID (for multicoin pools). Queries pools UNION multicoin_pools joined with warehouse_vaults.",
        "operationId": "getPoolMetadata",
        "parameters": [
          {
            "name": "pool_id",
            "required": true,
            "in": "path",
            "description": "Pool (orderbook) object ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoolMetadataResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get pool metadata by pool ID",
        "tags": [
          "Marketplace | Pools"
        ],
        "x-cu-cost": 20
      }
    },
    "/v1/pools/{pool_id}/orderbook": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nIndexed replacement for the client-side versioned-inner dynamic-field walk. Returns { bids, asks } of resting orders (remaining_quantity > 0) from the materialized open_orders table. Bids are highest-price-first, asks lowest-price-first.",
        "operationId": "getPoolOrderbook",
        "parameters": [
          {
            "name": "pool_id",
            "required": true,
            "in": "path",
            "description": "Pool (orderbook) object ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderbookResponseDto"
                }
              }
            }
          }
        },
        "summary": "Get the current resting orderbook for a pool",
        "tags": [
          "Marketplace | Pools"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/pools/{pool_id}/orders/{order_id}": {
      "get": {
        "description": "**Cost:** 30 compute units per request.\n\nReturns full detail for a single order — status, prices and quantities, the account that placed it, the trade hub it lives at, the market’s quote currency, and its fill history. Order IDs are scoped per pool, so both path segments are required. Responds 404 if the order is unknown to the indexer.",
        "operationId": "getPoolOrder",
        "parameters": [
          {
            "name": "pool_id",
            "required": true,
            "in": "path",
            "description": "Pool (order book) object ID the order belongs to.",
            "schema": {
              "example": "0x7f3a9b2c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8",
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "required": true,
            "in": "path",
            "description": "Order ID (u128, passed as a decimal string).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No order with this ID exists in this pool.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Get one order on a pool",
        "tags": [
          "Marketplace | Accounts"
        ],
        "x-cu-cost": 30
      }
    },
    "/v1/routing/compare": {
      "get": {
        "tags": [
          "Universe | Routing"
        ],
        "summary": "Compare the fuel, time, and balanced routes at once",
        "description": "**Cost:** 300 compute units per request.\n\nRuns the same search three times — once per optimization — and returns all\nthree routes, so a client can show the trade-off (fewer jumps versus less\nfuel) without issuing three requests and without the results drifting apart\nif the map reloads between calls.\n\nThis is three route calculations in one call and is priced accordingly;\nprefer `/v1/routing/route` when only one optimization is needed. A 404 means\n*no* optimization could connect the two systems under these parameters.",
        "operationId": "compareRoutes",
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "description": "Solar system name to depart from (case-insensitive).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EHK-KH7"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Solar system name to arrive at (case-insensitive).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ET7-FQ7"
          },
          {
            "name": "mass",
            "in": "query",
            "description": "Ship mass, in the game's mass units (default 1.0).",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 1
          },
          {
            "name": "gate_weight",
            "in": "query",
            "description": "How much to favour stargates over jump drives, 0.0–1.0, applied to the\n`balanced` result (default 0.5).",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 0.5
          },
          {
            "name": "max_jump_range_ly",
            "in": "query",
            "description": "Ship's maximum jump-drive range in light years (default 50.0).",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "All three routes for this pair",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteComparison"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Unknown solar system, or no route between them",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-cu-cost": 300
      }
    },
    "/v1/routing/route": {
      "get": {
        "tags": [
          "Universe | Routing"
        ],
        "summary": "Calculate a route between two solar systems",
        "description": "**Cost:** 100 compute units per request.\n\nRuns an A* search over the stargate network plus every jump-drive hop within\n`max_jump_range_ly`, and returns the ordered waypoints together with the\nroute's jump counts and travel distance.\n\n**Choosing an optimization.** `time` minimises travel time and will take long\njump-drive hops to skip gate chains. `fuel` minimises fuel burn and prefers\nstargates, which are free but slower. `balanced` interpolates between them\nusing `gate_weight`.\n\n**Ship parameters matter.** `mass` scales fuel burn per light year, so a\nheavier ship shifts `fuel` and `balanced` results toward gates;\n`max_jump_range_ly` bounds which drive hops exist at all, so a short-range\nship may be routed entirely over gates — or get a 404 when no gate path\nexists.\n\n**Reading the result.** `total_cost.total_jumps` is the hop count a player\nsees; `gate_jumps` and `drive_jumps` split it by hop type;\n`total_distance_ly` is the whole path and `drive_distance_ly` only the\njump-drive portion. A 404 means the systems are known but unreachable under\nthese parameters — retrying with a larger `max_jump_range_ly` may succeed.",
        "operationId": "getRoute",
        "parameters": [
          {
            "name": "origin",
            "in": "query",
            "description": "Solar system name to depart from (case-insensitive).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "EHK-KH7"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Solar system name to arrive at (case-insensitive).",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ET7-FQ7"
          },
          {
            "name": "optimization",
            "in": "query",
            "description": "Which cost to minimise: `fuel`, `time`, or `balanced` (default `time`).",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "time"
          },
          {
            "name": "mass",
            "in": "query",
            "description": "Ship mass, in the game's mass units. Heavier ships burn more fuel per\nlight year, so raising this pushes `fuel` and `balanced` routes toward\nstargates (default 1.0).",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 1
          },
          {
            "name": "gate_weight",
            "in": "query",
            "description": "How much to favour stargates over jump drives, 0.0–1.0, used only by\n`balanced` (default 0.5). 0.0 behaves like `time`, 1.0 like `fuel`.",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 0.5
          },
          {
            "name": "max_jump_range_ly",
            "in": "query",
            "description": "Ship's maximum jump-drive range in light years (default 50.0). Jumps\nlonger than this are excluded from the graph before the search runs.",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "The optimal route under the given parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Route"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Unknown solar system, or no route between them",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-cu-cost": 100
      }
    },
    "/v1/routing/stats": {
      "get": {
        "tags": [
          "Universe | Routing"
        ],
        "summary": "Get routing graph coverage",
        "description": "**Cost:** 20 compute units per request.\n\nReports the size of the stargate and jump-drive graphs the router searches.\nUse it to sanity-check which map revision a client is routing against, and\nto see the default `max_jump_range_ly` the jump-drive edges were built with.",
        "operationId": "getRoutingStats",
        "responses": {
          "200": {
            "description": "Routing graph coverage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingStats"
                }
              }
            }
          }
        },
        "x-cu-cost": 20
      }
    },
    "/v1/search": {
      "get": {
        "description": "**Cost:** 100 compute units per request.\n\nSingle search endpoint across characters and organizations. Matches `q` against character names, and against organization names, exact organization IDs, and exact treasury IDs. Use the `characters` and `orgs` flags to include either or both result groups (both are on by default). Each group is capped at `limit` results.",
        "operationId": "search",
        "parameters": [
          {
            "name": "q",
            "required": true,
            "in": "query",
            "description": "Search term: a partial name, or an exact organization / treasury ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "characters",
            "required": false,
            "in": "query",
            "description": "Include character results (default true).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orgs",
            "required": false,
            "in": "query",
            "description": "Include organization results (default true).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Maximum results per group (default 8, max 50).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enrich_orgs",
            "required": false,
            "in": "query",
            "description": "Include each organization result’s `image_url` and `description` (default false; opt-in because it costs a metadata lookup). Has no effect on character results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "`q` is missing, or both `characters` and `orgs` are disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Search characters and organizations",
        "tags": [
          "Marketplace | Search"
        ],
        "x-cu-cost": 100
      }
    },
    "/v1/solar-systems/names": {
      "get": {
        "description": "**Cost:** 50 compute units per request.\n\nBatch-resolve numeric solar system IDs to their display names. Results are cached for 30 minutes. Pass a comma-separated list of IDs (max 200).",
        "operationId": "batchGetSolarSystemNames",
        "parameters": [
          {
            "name": "ids",
            "required": true,
            "in": "query",
            "description": "Comma-separated Sui object IDs (max 200)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SolarSystemName"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Resolve solar system IDs to human-readable names",
        "tags": [
          "Marketplace | Locations"
        ],
        "x-cu-cost": 50
      }
    },
    "/v1/spatial/coordinates/nearby": {
      "get": {
        "tags": [
          "Universe | Solar Systems"
        ],
        "summary": "Find solar systems near a point in space",
        "description": "**Cost:** 50 compute units per request.\n\nReturns every solar system whose center lies within `radius_ly` light years\nof the given coordinates, nearest first.\n\nUse this when the origin is not itself a solar system — a ship, structure, or\nsmart assembly position read from the chain. `x`, `y` and `z` are decimal\nstrings in meters (see `Coordinates`), the same representation the market-data\nAPI uses for hub locations, so a hub's `x`/`y`/`z` can be passed straight\nthrough as query parameters.",
        "operationId": "listSystemsNearCoordinates",
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "description": "X coordinate of the search origin, in meters (decimal string)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "-6523761465801880000"
          },
          {
            "name": "y",
            "in": "query",
            "description": "Y coordinate of the search origin, in meters (decimal string)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "-253634337518181280"
          },
          {
            "name": "z",
            "in": "query",
            "description": "Z coordinate of the search origin, in meters (decimal string)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "4013616888017946600"
          },
          {
            "name": "radius_ly",
            "in": "query",
            "description": "Search radius in light years (positive, max 10,000)",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "example": 100
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum systems to return, nearest first (default 100, max 1,000)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Systems within the radius, nearest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoordinateSearchResponse"
                },
                "example": {
                  "count": 1,
                  "location": {
                    "x": "-6523761465801880000",
                    "y": "-253634337518181280",
                    "z": "4013616888017946600"
                  },
                  "radius_ly": "50",
                  "systems": [
                    {
                      "distance_ly": "0",
                      "location": {
                        "x": "-6523761465801880000",
                        "y": "-253634337518181280",
                        "z": "4013616888017946600"
                      },
                      "solar_system_id": 30001053,
                      "solar_system_name": "IF3-HS9"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed coordinates, or `radius_ly` non-positive or above 10,000",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-cu-cost": 50
      }
    },
    "/v1/spatial/stats": {
      "get": {
        "tags": [
          "Universe | Solar Systems"
        ],
        "summary": "Get star-map coverage",
        "description": "**Cost:** 20 compute units per request.\n\nReports how many solar systems the coordinate index holds. Use it to confirm\nthe dataset a client is querying against before caching results.",
        "operationId": "getStarMapStats",
        "responses": {
          "200": {
            "description": "Coverage of the loaded star map",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpatialStatsResponse"
                },
                "example": {
                  "status": "operational",
                  "total_systems": 24018
                }
              }
            }
          }
        },
        "x-cu-cost": 20
      }
    },
    "/v1/spatial/systems": {
      "get": {
        "tags": [
          "Universe | Solar Systems"
        ],
        "summary": "Look up many solar systems at once",
        "description": "**Cost:** 50 compute units per request.\n\nResolves up to 100 solar systems in one call. Pass either\n`solar_system_ids` or `solar_system_names` — not both.\n\nIdentifiers that match nothing are omitted from `systems` rather than\nreturned as nulls, so compare `count` against the number you asked for to\ndetect misses. Prefer this over looping the single-system endpoint: it costs\none call instead of N.",
        "operationId": "batchGetSolarSystems",
        "parameters": [
          {
            "name": "solar_system_ids",
            "in": "query",
            "description": "Comma-separated solar system IDs (max 100)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "30000142,30001053"
          },
          {
            "name": "solar_system_names",
            "in": "query",
            "description": "Comma-separated solar system names (max 100, case-insensitive)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "EHK-KH7,IF3-HS9"
          }
        ],
        "responses": {
          "200": {
            "description": "The systems that resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchSystemsResponse"
                },
                "example": {
                  "count": 1,
[...]
